@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as tools;

.landing-block {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
