@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as tools;

.landing-block {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.landing-block__body {
  font-size: tools.rem(20);
  margin-bottom: tools.rem(20);
}
