@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as tools;

.button {
  display: flex;
  min-height: tools.rem(48);
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: tools.rem(50);
  cursor: pointer;
  font-family: $font-family-title;
  font-size: tools.rem(16);
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-uppercase;
  border: none;
  border-radius: tools.rem(50);
  padding: tools.rem(14.5) tools.rem(32);
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color $transition;
  line-height: 1;

  span {
    margin-top: tools.rem(2);
  }

  &:hover .button__label__arrow {
    animation: arrowAnim 1000ms;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-light;
    border: tools.rem(3) solid $color-primary;

    &:hover {
      background-color: $color-light;
      color: $color-primary;
    }

    &:focus {
      outline: none;
      background-color: $color-light;
      color: $color-primary;
    }
  }

  &--light {
    background-color: $color-light;
    color: $color-primary;
    border: tools.rem(3) solid $color-primary;

    &:hover {
      background-color: $color-primary;
      color: $color-light;
    }

    &:focus {
      outline: tools.rem(2) solid $color-primary;
    }
  }
}

.button__label__arrow {
  display: inline-block;
  font-size: 110%;
}

@keyframes arrowAnim {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(tools.rem(4));
  }
  70% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(tools.rem(4));
  }
  100% {
    transform: translateX(0);
  }
}
