@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as tools;

.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: tools.rem(90);
  box-shadow: 0 0 tools.rem(10) 0 $color-shadow;
}

.navigation-bar__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar__logo {
  height: tools.rem(60);
  color: $color-primary;
  transition: color $transition;

  &:hover {
    color: $color-secondary;
  }
}
