// ------------------ //
// Raw Colors  //
// ------------------ //

// Colors
$color-white: #ffffff;
$color-black: #000000;

// ------------------ //
// Functional Colors  //
// ------------------ //
$color-bg: $color-white;
$color-text: $color-black;
$color-shadow: rgba(16, 4, 45, 0.2);
$color-shadow-dark: rgba(26, 3, 41, 0.7);
