@use './tools' as tools;

// ------------------------------------ //
// Font Declarations                    //
// ------------------------------------ //

// Family Declarations
$font-family-title: 'Baloo Da 2', sans-serif;
$font-family-text: 'Mandali', serif;

// Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

// Sizes
$font-size-default: tools.rem(18);
$font-size-large: tools.rem(20);

// Letter Spacings
$letter-spacing-uppercase: 0.05em;
