// Tools used by settings

@use 'sass:math';

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return math.div($pixels, $context) * 1em;
}

@function rem($pixels) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @return math.div($pixels, 16px) * 1rem;
}

@function font-ratio($large-size) {
  @if ($large-size > rem(32)) {
    @return $large-size - rem(8);
  } @else if ($large-size > rem(18)) {
    @return $large-size - rem(4);
  } @else {
    @return $large-size - rem(2);
  }

  @return 1;
}
