$z-index-header-nav: 48;
$z-index-header-logo-triangle: 49;
$z-index-header-logo: 50;
$z-index-header-menu: 51;
$z-index-header-logo-christmas: 52;
$z-index-nav-bar: 98;
$z-index-skip-to-content: 99;
$z-index-tooltip: 100;
