////
// Align Grid Items
////

@mixin align-items($prefix, $modifier: null) {
  #{$prefix + '--top' + $modifier} {
      align-items: start;
  }

  #{$prefix + '--center' + $modifier} {
      align-items: center;
  }

  #{$prefix + '--bottom' + $modifier} {
      align-items: end;
  }

  #{$prefix + '--stretch' + $modifier} {
      align-items: stretch;
  }
}
